*{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 248, 248);
}

.tab{
    width: 30%;
    height: 90%;
    border-radius: 0px 30px 30px 0;
    position: fixed;
    transition: 0.3s;
    bottom: 0px;

    background-color: rgb(5, 186, 218);
}

aside .sidebar .nav-list .sidenav{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:3rem;
}
aside .sidebar .nav-list .sidenav:nth-child(1){
    margin-top: -3rem;

}



aside .sidebar .nav-list .sidenav > a{
    display: block;
    background-color: inherit;
    width: 100%;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 700;
}

aside .sidebar .nav-list .sidenav > a:hover{
    background-color: whitesmoke;
    color: rgb(5, 186, 218);
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
}

aside .sidebar .nav-list .sidenav  #logo:hover{
    background-color: inherit;
    padding: 0px;
}

aside .sidebar .nav-list .sidenav  > a:active{
    background-color: whitesmoke;
}
aside .sidebar .nav-list .sidenav  #logo:active{
    background-color: inherit;
}

.main-content{
    width: fit-content;
}

 .design{
    background-color: rgb(239, 243, 248);
} 

#design-1{
    position: fixed;
    /* top:5rem; */
    bottom: 0px;
    height: 25rem;
    width: 45%;
    z-index: -1;
    border-radius: 0% 20% 30% 0%;
}
#design-2{
    position: fixed;
    top: 6rem;
    left: 35rem;
    z-index: -1;
    height: 32rem;
    width: 35rem;
    border-radius: 50% 30% 50% 0%;
}

#design-3{
    position: fixed;
    top: 0rem;
    left: 60rem;
    width: 30rem;
    height: 37rem;
    z-index: -1;
    border-radius: 50% 0% 10% 50%;
}

#profile-pic{
    position: absolute;
    top: 4rem;
    left: 38rem;
    z-index: 1;
    text-align: center;

}
#profile-pic  .img{
    background: url("profile.png");
}
#profile-pic h2 {
    color: rgb(59, 170, 170);
    font-weight: 700;
}
.style li{
    list-style-type: square;
}

.style .style-1{
    position: absolute;
    color: steelblue;
    z-index: 1;
    top: 1rem;
    left: 15rem;
    font-size: 8rem;
    left: 20rem;

}
.style .style-2{
    position: absolute;
    left:-5rem;
    top: 27rem;
    color: teal;
    font-size: 6rem;

}

.style .style-3{
    position: absolute;
    color: teal;
    list-style-type: disc;
    font-size: 6rem;
    z-index: 1;
    bottom: 30rem;
    /* top: -2rem; */
    right: 0rem;
}

.style .roundedStyle-1{
    position: absolute;
    color: tomato;
    list-style-type: disc;
    z-index: 1;
    top: 30rem;
    left: 70rem;
    font-size: 6rem;

}

.style .roundedStyle-2{
    display: none;
}

.style .roundedStyle-3{
    display: none;
}

.abt-section{
    position: absolute;
    top: 10rem;
    left: 35rem;
    /* float: right; */
 /* width: 70%;    */
}

.abt-section ul{
    margin-top: 10px;
}

.abt-section h2{
    color: rgb(212, 52, 24);
    font-size: 2rem;
    text-align: center;

}

.abt-section hr{
    position: absolute;
    left: 11rem;
    width: 250px;
    height: 3px;
    background-color: teal;
    /* color: tomato; */
}

.abt-section p{
    text-indent: 35px;
    margin-top: 40px;
    font-size: 22px;
}

.abt-section p > em{
    color: rgb(212, 52, 24);
}


.skills-section{
    position: absolute;
    top: 10rem;
    left: 35rem;
}

.skills-section h2{
    color: rgb(212, 52, 24);
    font-size: 2rem;
    position: relative;
    left: 10rem;
}

.skills-section hr{
    position: absolute;
    left: 8rem;
    width: 150px;
    height: 3px;
    background-color: teal;
    /* color: tomato; */
}

.skills-section table{
    position: absolute;
    /* left: 6.9rem; */
    text-indent: 35px;
    margin-top: 40px;
    font-size: 18px;
}
.skills-section table tr td ul li{
    /* display: inline; */
    list-style-type: disc;
    margin-bottom: 20px;
}



.contact-section{
    position: absolute;
    top: 10rem;
    left: 35rem;
}

.contact-section h2{
    color: rgb(212, 52, 24);
    font-size: 2rem;
    text-align: center;
}

.contact-section hr{
    position: absolute;
    left: 6.9rem;
    width: 200px;
    height: 3px;
    background-color: teal;
    /* color: tomato; */
}

.contact-section form .input-group{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    margin-bottom: 20px;
}

.contact-section form .input-group .name-input #name{
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    border: 2px solid rgb(151, 150, 150);
    border-radius: 10px;
}
.contact-section form .input-group .email-input #email{
    padding: 10px 10px 10px 5px;
    border: 2px solid rgb(151, 150, 150);
    border-radius: 10px;
    font-size: 16px;
}
.contact-section form .subject-input #subject{
    padding: 10px 10px 10px 5px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid rgb(151, 150, 150);
    border-radius: 10px;

}

.contact-section form .message-input #message{
    padding: 10px 10px 10px 5px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    border: 2px solid rgb(151, 150, 150);
    border-radius: 10px;

}

.contact-section form button{
    background-color: rgb(35, 235, 235);
    padding: 10px 25px;
    border: rgb(35, 235, 235);
    font-size: 16px;
    font-weight: 600;
    border: 2px solid rgb(151, 150, 150);
    border-radius: 10px;
    color: rgb(53, 52, 52);
}

.tabContent{
    display: none;
}

.tabContent:nth-child(1){
    display: block;
}




@media only screen and (min-width: 760px) {
   .tab{
       /* height: 98%; */
       width: 30%;
       /* text-indent: 3rem; */
    }
    
    main{
        
        width: 100%;
        height: 100%;
       
    }

    aside .sidebar .nav-list .sidenav > a{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .abt-section, .skills-section, .contact-section{
        margin-left: 8rem;
    }
}
@media only screen and (max-width: 760px) {
    
    .tab{
        max-width: 30%;
        /* width: 30%; */
        /* height: 99%; */
        position: fixed;
        height: 100%;
    }

    main{
        
        width: 100%;
        height: 100%;
        /* width: 50px; */
        /* background-color: steelblue; */
    }

    aside .sidebar .nav-list .sidenav > a{
        font-size: 1rem;
    }

    aside .sidebar .nav-list .sidenav:nth-child(1){
       margin: 0rem;
       /* width: 50px; */
    }
    #profile-pic img{
        width: 70%;
        height: 70%;
    }

    #design-3, #design-1, #design-2, .style-2, .style-3, .roundedStyle-1, .style-1{
        display: none;
    }

    #profile-pic{
        position: relative;
        left: 0rem;
        margin-left: 5rem;
        z-index: -1;
        
    }

    .abt-section, .skills-section, .contact-section{
        position: relative;
        font-size: 14px;
        left: 0rem;
        z-index: -1;
        text-align: center;
    }

  
}

@media only screen and (min-width: 500px) and (max-width: 610px) {
    .abt-section, .skills-section, .contact-section{
        margin-left: 7rem;
    }
}


@media only screen and (min-width: 620px) {
    .abt-section, .skills-section, .contact-section{
        margin-left: 15rem;
    }
}

@media only screen  and (min-device-width: 1200px) and (max-device-width: 1600px){
    .tab{
        width: 20%;
 
    }
    main{
        
        width: 100%;
        height: 100%;
    }

    .abt-section  ul li{
        font-size: 2rem;
        list-style-type: circle;
    }

    .style .style-1{
        position: absolute;
        color: steelblue;
        z-index: 1;
        top: 1rem;
        left: 15rem;
        font-size: 10rem;
        left: 40rem;
    
    }
    .style .style-2{
        position: absolute;
        left:-12rem;
        top: 40rem;
        color: teal;
        font-size: 12rem;
    
    }
    
    .style .style-3{
        position: absolute;
        color: teal;
        list-style-type: disc;
        font-size: 12rem;
        z-index: 1;
        bottom: 30rem;
        top: 0rem;
        left: 60rem;
    }
    
    .style .roundedStyle-1{
        position: absolute;
        color: tomato;
        list-style-type: disc;
        z-index: 1;
        top: 50rem;
        left: 110rem;
        font-size: 12rem;
    
    }

    #profile-pic{
        position: absolute;
        left: 58rem;
    
    }
    #profile-pic p b{
        font-size: 2rem;
    }

    #design-1{
        position: fixed;
        /* top:5rem; */
        bottom: 0px;
        height: 35rem;
        width: 50%;
        border-radius: 0% 40% 30% 0%;
    }
    #design-2{
        position: fixed;
        top: 13rem;
        left: 50rem;
        height: 50rem;
        width: 50rem;
        border-radius: 50% 30% 50% 0%;
    }
    
    #design-3{
        position: fixed;
        top: 0rem;
        left: 88rem;
        width: 50rem;
        height: 55rem;
        border-radius: 50% 0% 10% 50%;
    }

   
    
    
    
    aside .sidebar .nav-list .sidenav > a{
       text-indent: 1rem;
       margin-top: -1rem;
    }

    aside .sidebar .nav-list .sidenav #logo{
        text-indent: 4rem;
    
    }

    .abt-section hr{
        left: 25rem;
        margin-top: 0px;
    }

    .skills-section h2{
        left: 17rem;
    }

    .skills-section hr{
        left: 12rem;
        margin-top: 0px;
    }

    .contact-section hr{
        left: 12rem;
        margin-top: 0px;
    }
}


